@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenue [AFFICHER NOM PRENOM ICI]</h1>
    <p>Veuillez niquer hardemment votre maman car j'ai réussi à créer l'inscription malgré ce cours de MERDE.</p>
</div>







<button onclick="location.href='@Url.Action("Index", "Services")'" style="background-color:transparent; border-color:transparent;">Liste des services proposés</button>
<button onclick="location.href='@Url.Action("Index", "Customers")'" style="background-color:transparent; border-color:transparent;"><br />Prendre un rendez-vous</button>
<button onclick="location.href='@Url.Action("Index", "Customers")'" style="background-color:transparent; border-color:transparent;"><br />Liste de vos rendez-vous</button>
<a asp-controller="Evaluations" asp-action="Index">Liste de vos évaluations</a>
<button onclick="location.href='@Url.Action("Disconnect", "Home")'" style="background-color:transparent; border-color:transparent;"><img src="~/Content/image/deco.png" /><br />Se déconnecter</button>