@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenue [AFFICHER NOM PRENOM ICI]</h1>
    <p>Veuillez niquer hardemment votre maman car j'ai réussi à créer l'inscription malgré ce cours de MERDE.</p>
</div>


<button onclick="location.href='@Url.Action("Disconnect", "Home")'" style="background-color:transparent; border-color:transparent;"><img src="~/Content/image/deco.png" /><br />Se déconnecter</button>