@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<header>
    <img src="~/image/banniere.svg"  style="max-width:100%;" />
</header>

<div class="text-center">
    <a asp-action="Create" asp-controller="Customers" class="myButton" style="text-decoration:none; color:black;">S'inscrire<img src="~/image/add.png"  style="width:32px; height:32px;margin-left:20px; " /></a>
    <a asp-action="Login" asp-controller="Home" class="myButton">Se connnecter<img src="~/image/connexion.svg" style="width:32px; height:32px; margin-left:20px; "/></a>
</div>
