@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenue</h1>
</div>

<input type="button" value="S'inscrire" onclick="location.href='@Url.Action("Create", "Customers")'" />
<input type="button" value="Se connecter" onclick="location.href='@Url.Action("Login", "Home")'" />
