@{
    ViewData["Title"] = "Home Page";
}

<h2>Connexion</h2>
@ViewBag.Message
<form action="/Home/Login" method="POST">
    <input type="text" name="Email" placeholder="Email" />
    <input type="password" name="Password" placeholder="Mot de passe" />
    <input type="submit" value="Se connecter" />
</form>
Pas encore de compte client ? Inscrivez-vous rapidement<br />
<button value="S'inscrire" asp-action="Create" asp-controller="Customers"/>