@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 <header>
    <img src="~/image/banniere.svg" style="max-width:100%;" />
 </header>
<h2>Connexion</h2>
@ViewBag.Message
<form action="/Home/Login" method="POST">
    <input type="text" name="Email" placeholder="Email" />
    <input type="password" name="Password" placeholder="Mot de passe" />
    <input type="submit"  value="Se connecter" />
</form>
Pas encore de compte client ? Inscrivez-vous rapidement<br />
<a asp-action="Create" asp-controller="Customers"  style="text-decoration:none; color:black;">S'inscrire<img src="~/image/add.png"  style="width:32px; height:32px;" /></a>