@{
    ViewData["Title"] = "Privacy Policy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>@ViewData["Title"]</h1>

<p>
    Bienvenue sur mon site Ré-partout !<br />
    Je me nomme Rémy et je répare tous vos problèmes informatique partout en Belgique.<br />
    Pour n’importe quel problème, Rémy est là pour vous aider !<br />
    Alors n’attendez-plus et prenez rendez-vous<br />
</p>
