@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenue Administrateur</h1>
</div>


<button onclick="location.href='@Url.Action("Disconnect", "Home")'" style="background-color:transparent; border-color:transparent;"><img src="~/Content/image/deco.png" /><br />Se déconnecter</button>