@{
    ViewData["Title"] = "Acceuil administrateur";

}
<link rel="stylesheet" href="~/css/menu.css" />

<div class="text-center">
    <h1 class="display-4">Bienvenue Administrateur</h1>
</div>

<!-- Button choix de l'utilisateur -->

<ul>
    <li>
        <a asp-controller="Services" asp-action="Index"><img src="~/image/service.png" style="width:32px; height:32px;" />Gérer la liste des services proposés</a>
    </li>
    <li>
        <a asp-controller="Customers" asp-action="Index"><img src="~/image/listuser.png" style="width:32px; height:32px;" />Gérer la liste des utilisateurs</a>
    </li>
    <li>
        <a asp-controller="Agenda" asp-action="Index"><img src="~/image/rdv.png" style="width:32px; height:32px;" />Prendre un congé ou un rendez-vous pour un utilisateur</a>
    </li>
</ul>
<ul>
    <li>
        <a asp-controller="Evaluations" asp-action="Index"><img src="~/image/eval.png" style="width:32px; height:32px;" />Liste des évaluations</a>
    </li>
    <li>
        <a asp-controller="Home" asp-action="Disconnect"><img src="~/image/deco.png" style="width:32px; height:32px;" />Se déconnecter</a>
    </li> 
</ul>