@{
    ViewData["Title"] = "Acceuil administrateur";

}

<div class="text-center">
    <h1 class="display-4">Bienvenue Administrateur</h1>
</div>

<!-- Button choix de l'utilisateur -->
<a asp-controller="Services" asp-action="Index">Gérer la liste des services proposés<img src="~/image/service.png" style="width:32px; height:32px;" /></a>
<a asp-controller="Customers" asp-action="Index">Gérer la liste des utilisateurs<img src="~/image/listuser.png" style="width:32px; height:32px;" /></a>
<a asp-controller="Agenda" asp-action="Index">Prendre un congé ou un rendez-vous pour un utilisateur<img src="~/image/rdv.png" style="width:32px; height:32px;" /></a>
<a asp-controller="RendezVous" asp-action="Index">Liste de vos rendez-vous<img src="~/image/listrdv.png" style="width:32px; height:32px;" /></a>
<a asp-controller="Evaluations" asp-action="Index">Liste des évaluation<img src="~/image/eval.png" style="width:32px; height:32px;" /></a>
<a asp-controller="Home" asp-action="Disconnect">Se déconnecter<img src="~/image/deco.png" style="width:32px; height:32px;" /></a>