@model Agenda.Models.POCO.RendezVous

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>

    <h3>Êtes-vous sur de vouloir supprimer ce rendez-vous ?</h3>
    <div>
        <h4>RendezVous</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Comment)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Comment)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.BeginDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.BeginDate)
            </dd>
        </dl>
        @{ /* Si le rendez-vous est d'aujourd'hui ou avant ajourd'hui */}
            @if (Model.BeginDate.Day <= DateTime.Now.Day)
            {
                <form asp-action="Delete">
                    <input type="hidden" asp-for="ID" />
                    <input type="submit" value="Supprimer" class="btn btn-danger" disabled="disabled" alt="Il est trop tard pour annuler le rendez-vous !"/> |
                    <a asp-action="Index" asp-controller="Agenda" class="myButton">Retour au calendrier</a>
                </form>
            }
            else
            {
                <form asp-action="Delete">
                    <input type="hidden" asp-for="ID" />
                    <input type="submit" value="Supprimer" class="btn btn-danger" /> 
                    <a asp-action="Index" asp-controller="Agenda" class="myButton">Retour au calendrier</a>
                </form>
            }
        </div>
    </body>
</html>
