
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error 69</title>
</head>
<body>
    Attention, il semblerait que vous essayer de supprimer un rendez-vous déjà passé ou qui est sur le point de se passer (dans la journée).<br />
    Si c'est le cas, je vous signale qu'il est trop tard. J'ai réservé ce moment pour vous, vous croyez que parce que vous êtes le client vous êtes Roi ?<br />
    Il va falloir apprendre à vivre avec un peu de rigueur, si vous ne vouliez pas prendre de rendez-vous, il ne fallait pas en prendre. <br />
    Inutile dans ce cas de nous faire perdre du temps à tous les deux.<br />
    J'espère que ce petit incident ne se reproduira plus, parce que sinon, pour rappel, j'ai votre adresse ;-)
</body>
</html>
