.calendar-td-blue {
    background: #3498db;
}
.calendar-td-purple {
    background: #9b59b6;
}
.calendar-td-red {
    background: #e74c3c;
}
.calrender {
    font-weight: 300;
    cursor: pointer;
}

, *:before, *:after {
    margin : 0;
    padding : 0;
    border: 0;
    outline: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

table {
    color: #efefef;
}

    table tr:nth-child(2n) {
        background: #eff0f1;
    }

    table tr:nth-child(2n+3) {
        background: #fff;
    }

    table th, table td {
        padding: 1em;
        width: 10em;
        font-size: 0.8em;
    }

.calendar-th-days, .calendar-th-time {
    background: #34495e;
    text-transform: uppercase;
    font-size: 0.7em;
    text-align: center;
}

.calendar-th-time {
    width: 3em !important;
}


[tooltip] {
    position: relative;
    z-index: 2;
    cursor: pointer;
}

    /* Hide the tooltip content by default */
    [tooltip]:before,
    [tooltip]:after {
        visibility: hidden;
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
        opacity: 0;
        pointer-events: none;
        -moz-transition: ease 0.5s all;
        -o-transition: ease 0.5s all;
        -webkit-transition: ease 0.5s all;
        transition: ease 0.5s all;
    }

    /* Position tooltip above the element */
    [tooltip]:before {
        position: absolute;
        bottom: 110%;
        left: 50%;
        margin-bottom: 5px;
        margin-left: -80px;
        padding: 7px;
        width: 160px;
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
        border-radius: 6px;
        background-color: black;
        color: #fff;
        content: attr(tooltip);
        text-align: center;
        font-size: 14px;
        line-height: 1.2;
    }

    /* Triangle hack to make tooltip look like a speech bubble */
    [tooltip]:after {
        position: absolute;
        bottom: 110%;
        left: 50%;
        margin-left: -5px;
        width: 0;
        border-top: 5px solid black;
        border-right: 5px solid transparent;
        border-left: 5px solid transparent;
        content: " ";
        font-size: 0;
        line-height: 0;
    }

    /* Show tooltip content on hover */
    [tooltip]:hover:before,
    [tooltip]:hover:after {
        visibility: visible;
        bottom: 90%;
        filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
        opacity: 1;
    }