.calendar-td-blue:nth-child(2n) {
    background: #4A9EAA;
}

.calendar-td-blue:nth-child(2n+3) {
    background: #4196A8;
}

.calendar-td-purple {
    background: #9b59b6;
}

.calendar-td-red {
    background: #f25f5c;
    cursor: not-allowed;
}

.calrender {
    font-weight: 300;
    cursor: grab;
    border: 1px solid black;
    margin: auto;
}

td a {
        box-shadow: inset 0px 1px 3px 0px #91b8b3;
        background: linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
        background-color: #768d87;
        border-radius: 11px;
        border: 1px solid #566963;
        display: inline-block;
        cursor: pointer;
        color: #ffffff;
        font-family: Arial;
        font-size: 9px;
        font-weight: bold;
        padding: 3px 6px;
        text-decoration: none;
        text-shadow: 0px -1px 0px #2b665e;
    }

*:before, *:after {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

table {
    color: #efefef;
}

    table tr:nth-child(2n) {
        background: #eff0f1;
    }

    table tr:nth-child(2n+3) {
        background: #fff;
    }

    table th, table td {
        padding: 1em;
        width: 10em;
        font-size: 0.8em;
        border: 1px solid black;
        margin: auto;
    }

.calendar-th-days, .calendar-th-time {
    background: #34495e;
    text-transform: uppercase;
    font-size: 0.7em;
    text-align: center;
}

.calendar-th-time {
    width: 3em !important;
}


[tooltip] {
    position: relative;
    z-index: 2;
}

    [tooltip]:before,
    [tooltip]:after {
        visibility: hidden;
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
        opacity: 0;
        pointer-events: none;
        -moz-transition: ease 0.5s all;
        -o-transition: ease 0.5s all;
        -webkit-transition: ease 0.5s all;
        transition: ease 0.5s all;
    }

    [tooltip]:before {
        position: absolute;
        bottom: 110%;
        left: 50%;
        margin-bottom: 5px;
        margin-left: -80px;
        padding: 7px;
        width: 160px;
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
        border-radius: 6px;
        background-color: black;
        color: #fff;
        content: attr(tooltip);
        text-align: center;
        font-size: 14px;
        line-height: 1.2;
    }

    [tooltip]:after {
        position: absolute;
        bottom: 110%;
        left: 50%;
        margin-left: -5px;
        width: 0;
        border-top: 5px solid black;
        border-right: 5px solid transparent;
        border-left: 5px solid transparent;
        content: " ";
        font-size: 0;
        line-height: 0;
    }

    [tooltip]:hover:before,
    [tooltip]:hover:after {
        visibility: visible;
        bottom: 90%;
        filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
        opacity: 1;
    }

