/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
.myButton {
    box-shadow: 0px 0px 0px 2px #9fb4f2;
    background: linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
    background-color: #7892c2;
    border-radius: 10px;
    border: 1px solid #4e6096;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 19px;
    padding: 12px 37px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #283966;
}

 .myButton:hover {
        background: linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
        background-color: #476e9e;
    }

 .myButton:active {
        position: relative;
        top: 1px;
    }
.myButton1{
    box-shadow: inset 0px 39px 0px -24px #e67a73;
    background: linear-gradient(to bottom, #e4685d 5%, #eb675e 100%);
    background-color: #e4685d;
    border-radius: 4px;
    border: 1px solid #ffffff;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    padding: 6px 15px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #b23e35;
}

    .myButton1:hover {
        background: linear-gradient(to bottom, #eb675e 5%, #e4685d 100%);
        background-color: #eb675e;
    }

    .myButton1:active {
        position: relative;
        top: 1px;
    }
.myButton2 {
    box-shadow: 3px 4px 0px 0px #899599;
    background: linear-gradient(to bottom, #c7c7c7 5%, #bab1ba 100%);
    background-color: #ebebeb;
    border-radius: 15px;
    border: 1px solid #d6bcd6;
    display: inline-block;
    cursor: pointer;
    color: #2c6c8a;
    font-family: Arial;
    font-size: 17px;
    padding: 7px 25px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #e1e2ed;
}

    .myButton2:hover {
        background: linear-gradient(to bottom, #bab1ba 5%, #c7c7c7 100%);
        background-color: #bab1ba;
    }

    .myButton2:active {
        position: relative;
        top: 1px;
    }

