
@{
    Layout = "~/Views/Shared/_Layout.cshtml"; ;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Non de Zeus!</title>
</head>
<body>
    Il semblerait que tu sois capable de voyager dans le temps ! En effet, tu comptes donner une évaluation à un rendez-vous qui n'est pas encore passé. <br />
    J'en déduis que tu viens du futur Marty. Et je suis prêt à te pardonner si tu me donnes les chiffres du Lotto ! <br />
    Je peux aussi négocier avec des réponses d'examens qui vont arriver..
</body>
</html>
