
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Succeed</title>
</head>
<body>
    @{ var evaluation = @ViewData["Evaluation"] as Agenda.Models.POCO.Evaluation;}
    Ici l'objet viewdata customer : @evaluation.RendezVous.Customer.FirstName;  <br />
    Le commentaire @evaluation.Comment;

</body>
</html>
